<div class="about_container">
    <div class="left_part">
        <div class="about-me__image">
            <img src="assets/images/download-cv.png" alt="download-cv">
            <a href="https://drive.google.com/file/d/12VzNGPbthGjy_v2BF130KkLERllbzRGI/view">
                <i class="fa fa-download" id="download_icon"></i>
            </a>
        </div>
    </div>
    <div class="right_part">
        <h5>ABOUT ME</h5>
        <h2>I Develop Web Appications</h2>
        <p>
            "Hi there! I'm Dilkhush Kumar, a passionate front-end web developer with a keen eye for detail and a love for creating seamless,  user-friendly websites. <br><br> With a strong foundation in both frontend technologies, I specialize  in crafting robust, scalable web pages that meet the needs of modern businesses and users alike."
        </p>
        <hr>
        <div class="my_details">
            <div class="left">
                <p><b>Name :</b> <span>Dilkhush Kumar</span></p>
                <p><b>Age :</b> <span>22</span></p>
                <p><b>Occupation :</b> <span>Web Designer</span></p>
            </div>
            <div class="right">
                <p><b>Phone :</b> <span>6203268298</span></p>
                <p><b>Email :</b> <span>dilkhushsingh974&#64;gmail.com</span></p>
                <p><b>Nationality :</b> <span>Indian</span></p>
            </div>
        </div>
        <hr>
    </div>
</div>
