<nav>
  <!-- Checkbox for toggling menu -->
  <input type="checkbox" id="check">

  <!-- Menu icon -->
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>

  <!-- Site logo -->
  <label class="logo">[ Dilkhush Kumar ]</label>

  <!-- Navigation links -->
  <ul>
    <li *ngIf="userLoggedin">
      <a [class.active]="currentRoute == '/dashboard'" routerLink="/dashboard">Home</a></li>
    <li *ngIf="userLoggedin">
      <a [class.active]="currentRoute == '/about'" routerLink="/about">About</a></li>
    <li *ngIf="userLoggedin">
      <a [class.active]="currentRoute == '/projects'" routerLink="/projects">Works</a></li>
    <li *ngIf="userLoggedin">
      <a [class.active]="currentRoute == '/skills'" routerLink="/skills">Skills</a></li>
    <li *ngIf="userLoggedin">
      <a [class.active]="currentRoute == '/connect-with-me'" routerLink="/connect-with-me">Contacts</a></li>
    <li>
      <a>
        <i class="fas fa-sign-out-alt"></i> 
        <span (click)="logout()" *ngIf="userLoggedin">Logout</span>
        <span *ngIf="!userLoggedin" routerLink="">LogIn</span>
      </a>
    </li>
  </ul>
</nav>
