<div class="education_container">
    <div class="left">
      <h6>Education</h6>
      <h2>My Education</h2>
      <p class="edu_para">
        My educational journey showcases dedication and growth, from building a strong foundation in high school to pursuing engineering studies. Each milestone has equipped me with the knowledge and skills to confidently pursue my tech industry goals.
      </p>
      <div class="edu_details">
        <div class="details_card">
          <div class="icon"><i class="fa-solid fa-book" id="icons"></i></div>
          <div class="content">
            <h3>B.Tech ( CSE )</h3>
            <div class="edu_place">
              <b>SVIET Collage Banur, Punjab</b> <span class="year"> ( 2021 - 2025 )</span>
            </div>
            <p>I am currently pursuing a BTech in Computer Science and
              Engineering at SViet College, with an expected graduation in
              2025. Till now, I have achieved an SGPA of 8.5.</p>
          </div>
        </div>
        <div class="details_card">
            <div class="icon"><i class="fa-solid fa-book" id="icons"></i></div>
          <div class="content">
            <h3>Intermediate</h3>
            <div class="edu_place">
              <b>KRISHAK College Deodha Nawada, Bihar</b> <span class="year"> ( 2018 - 2020 )</span>
            </div>
            <p> I completed my intermediate with 80.4% from the BSEB board in
              the non-medical stream, showcasing my strong academic
              performance and dedication to subjects such as mathematics,
              physics, and chemistry.</p>
          </div>
        </div>
        <div class="details_card">
            <div class="icon"><i class="fa-solid fa-book" id="icons"></i></div>
          <div class="content">
            <h3>Matriculation</h3>
            <div class="edu_place">
              <b> +2 MPHS Ramchandrapur, Bihar</b> <span class="year"> ( 2017 - 2018 )</span>
            </div>
            <p>I completed my matriculation with 70% from the BSEB board,
              reflecting my strong academic foundation and commitment to
              excellence in subjects like mathematics, science, languages,
              and social studies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="assets/images/education-img.jpg" alt="Education Image">
    </div>
  </div>
  