<div class="project_container">
  <h2>My Projects</h2>
  <p class="para">As a frontend developer, I specialize in building dynamic, responsive web applications using frameworks like Angular and React. <br> My expertise includes creating interactive UIs, integrating APIs, and crafting visually appealing <br> designs with animations.</p>
  <div class="project_list">
    <div class="project">
      <img src="assets/images/project-1.jpg" alt="">
      <div class="img_description">
         <h3>BabyKu</h3>
         <p>Baby Care Website</p>
         <button><a href="https://dilkhush1729.github.io/babyku/" target="_blank">visit website</a></button>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project-2.avif" alt="">
      <div class="img_description">
         <h3>Latest Fashion</h3>
         <p>Latest fashion website</p>
         <button><a href="https://dilkhush1729.github.io/garderobe-latest-fassion/" target="_blank">visit website</a></button>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project-3.jpeg" alt="">
      <div class="img_description">
         <h3>Time Helper</h3>
         <p>Event Planner and time management</p>
         <button><a href="https://dilkhush1729.github.io/time-helper/" target="_blank">visit website</a></button>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project-4.jpeg" alt="">
      <div class="img_description">
         <h3>Gym Website</h3>
         <p>Gym and related projects</p>
         <button><a href="https://dilkhush1729.github.io/college-project-1/" target="_blank">visit website</a></button>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project-5.webp" alt="">
      <div class="img_description">
         <h3>Little Fashion</h3>
         <p>Fashion brand for kids</p>
         <button><a href="https://dilkhush1729.github.io/little-fashion/" target="_blank">visit website</a></button>
      </div>
    </div>
    <div class="project">
      <img src="assets/images/project-6.jpeg" alt="">
      <div class="img_description">
         <h3> Interior Design </h3>
         <p>Interior design Wesite </p>
         <button><a href="https://dilkhush1729.github.io/kaboom/" target="_blank">visit website</a></button>
      </div>
    </div>
  </div>
</div>