<div class="my-skills">
    <h2>My Skills</h2>
    <p class="skill-para">I Like To Craft Beautiful And Scalable Web Products</p>
    <div class="conatiner">
        <div class="left">
            <div class="skills-container">
                <div class="skill-category">
                    <div class="icon">
                        <i class="fa-regular fa-file-code box"></i>
                    </div>
                    <div class="details">
                        <h3>Web Designing</h3>
                        <p>Clean, modern designs - optimized for performance, search engines, and converting users to
                            customers.
                        </p>
                    </div>
                </div>
                <div class="skill-category">
                    <div class="icon">
                        <i class="fa-solid fa-code box"></i>
                    </div>
                    <div class="details">
                        <h3>Technology</h3>
                        <p>Combined all the latest technologies to a progressive website.</p>
                    </div>
                </div>
                <div class="skill-category">
                    <div class="icon">
                        <i class="fa-solid fa-boxes-stacked box"></i>
                    </div>
                    <div class="details">
                        <h3>Always Responsive</h3>
                        <p>A responsive design makes your website accessible to all users, regardless of their device.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="skill">
                <p>
                    <span class="text-1">HTML and CSS</span>
                    <span class="loading_bar1"><b>95%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-2">Bootstrap</span>
                    <span class="loading_bar2"><b>84%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-3">JavaScript</span>
                    <span class="loading_bar3"><b>85%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-4">Ruby on Rails</span>
                    <span class="loading_bar4"><b>68%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-5">Angular</span>
                    <span class="loading_bar5"><b>65%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-6">Digital Marketing</span>
                    <span class="loading_bar6"><b>70%</b></span>
                </p>
            </div>
            <div class="skill">
                <p>
                    <span class="text-7"> React js </span>
                    <span class="loading_bar7"><b>60%</b></span>
                </p>
            </div>
        </div>
    </div>
</div>
  
